<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", autofocus: "", required: 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :phone %>
    <%= f.number_field :phone, class: "form-control", required: 'required'%>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control", required: 'required' %>
  </div>

  <div class="field form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>
