<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="dt table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Password</th>
      <th>Gate</th>
      <th>Address</th>
      <th>Auth token</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.password %></td>
        <td><%= customer.city %></td>
        <td><%= customer.address %></td>
        <td><%= customer.auth_token %></td>
        <td><%= link_to 'Show', customer %>
        <%= link_to 'Edit', edit_customer_path(customer) %>
        <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
