<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
        <p id="notice"><%= flash[:notice] %></p>
  </div>
<% end %>

<h1>Orders</h1>

<table class="dt table table-striped table-bordered">
  <thead>
    <tr>
      <th>Voucher</th>
      <th>Customer</th>
      <th>Address</th>
      <th>Gate</th>
      <th>Payment</th>
      <th>Department</th>
      <th>Status</th>
      <th>Date/Time</th>
      <% if session[:staff] == 1 %><th>ADMIN</th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to "V000#{order.id}", order %></td>
        <td>
          <% if session[:staff] == 1 %>
            <%= link_to order.customer.name, customer_path(order.customer) %>
          <% else %>
            <%= order.customer.name %>
          <% end %>
        </td>
        <td><%= order.delivery %></td>
        <td><%= order.gate %></td>
        <td><%= order.payment %></td>
        <td><%= order.department.name %></td>
        <td>
          <% if order.status == true %>
            <%= "Pending" %>
          <% else %>
            <%= "Complete" %>
          <% end %>
        </td>
        <td><%= order.created_at.in_time_zone("Rangoon") %></td>
        <% if session[:staff] == 1 %>
          <td>
		<%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
