<style media="print">
	table, thead, tbody{
		background-color:red;
	} 
</style>
<%= form_for(@order) do |f| %>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= @order.customer.name %></td>
      <td><strong>Order Num:</strong></td>
      <td><%= "V000#{@order.id}"%> <%= " - "+session[:staff_username] unless session[:staff] == 1%></td>
    </tr>
    <tr>
      <td><strong>Address:</strong></td>
      <td><%= @order.delivery %></td>
      <td><strong>Gate:</strong></td>
      <td><%= @order.gate %></td>
    </tr>

    <tr>
      <% if @order.department == Staff.find(session[:staff]).department && @order.status == true %>
        <td><strong>Payment:</strong></td>
        <td>
          <select name="order[payment]">
            <option value="Cash">Cash</option>
            <option value="Credit" <%= "selected" if @order.payment == "credit" %>>Credit</option>
          </select>
        </td>
      <% else %>
        <td><strong>Payment:</strong></td>
        <td>
          <%= @order.payment %>
        </td>
      <% end %>
      <td><strong>Date/Time</strong></td>
      <td><%= @order.created_at.in_time_zone("Rangoon") %></td>
    </tr>
    <tr>
    <% if @order.department == Staff.find(session[:staff]).department && @order.status == true %>
		<td><strong>Remark:</strong></td>
		<td colspan="3"><input type="text" name="order[remark]" value="<%= @order.remark %>" class="form-control"></td>
	<% else %>
		<td><strong>Remark:</strong></td>
		<td colspan="3"><%= @order.remark %></td>
	<% end %>
    </tr>
  </tbody>
</table>


<table class="table table-bordered">
  <thead>
    <tr>
      <td><b>Item</b></td>
      <td><b>Qty</b></td>
      <td><b>Price</b></td>
      <td><b>Remark</b></td>
	<% if @order.department == Staff.find(session[:staff]).department && @order.status == true %>
	 <td><b>Config</b></td>
	<% end %>
    </tr>
  </thead>
  <tbody>
    <% detail_count = @order.details.count %>
    <% @details.each do |d| %>
      <tr>
        <% if @order.department == Staff.find(session[:staff]).department && @order.status == true %>
            <td><input type="text" min required id="name<%=d.id%>" name="name<%=d.id%>" value="<%= d.name %>" class="form-control"></td>
            <td><input type="number" required id="qty<%=d.id%>" name="qty<%=d.id%>" value="<%= d.qty %>"></td>
            <td><input type="number" id="price<%=d.id%>" name="price<%=d.id%>" value="<%= d.price %>"></td>
	    <td><input type="text" id="remark<%=d.id%>" name="remark<%=d.id%>" value="<%= d.remark %>" class="form-control"></td>
	    <td>
              <%= link_to "Delete", detail_path(d,order: @order), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to "Update", "", class: d.id %>
            </td>
        <% else %>
            <td><%= d.name %></td>
            <td><%= d.qty %></td>
            <td><%= d.price %></td>
	    <td><%=  d.remark %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @order.department == Staff.find(session[:staff]).department && @order.status == true %>
    <div class="actions">
      <%= f.hidden_field :status, value: false %>
      <%= f.submit "Complete", class: 'btn btn-primary',data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
<br>
<%= link_to 'Print', "#", class: 'btn btn-warning', onclick: 'window.print()' %>
<hr>
	<%= link_to 'Back', orders_path %>
<script type="text/javascript">
  $(document).ready(function () {
    let datas = <%= raw(@details.to_json) %>
    for (let data of datas) {
      $('.'+data.id).click(function () {

        if(!$(`#name${data.id}`).val()){
          alert("Name is empty")
        }

        if(!$(`#qty${data.id}`).val()){
          alert("Quantity is empty")
        }

/*        if(!$(`#price${data.id}`).val()){
          alert("Price is empty")
        }
*/
        var d = $.param({
          name: $(`#name${data.id}`).val(),
          price: $(`#price${data.id}`).val(),
          qty: $(`#qty${data.id}`).val(),
	  remark: $(`#remark${data.id}`).val(),
          order_id: <%= @order.id%>,
          detail_id: data.id
        })
console.log(d)
        $('.'+data.id).attr("href",'http://103.253.146.26/update_detail?' + d)
      })
    }
  })
</script>
