<%= form_for(@order) do |f| %>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= @order.customer.name %></td>
      <td><strong>Order Num:</strong></td>
      <td><%= "V000#{@order.id}"%></td>
    </tr>
    <tr>
      <td><strong>Delivery:</strong></td>
      <td><%= @order.delivery %></td>
      <td><strong>Gate:</strong></td>
      <td><%= @order.gate %></td>
    </tr>

    <tr>
      <% if session[:staff] != 1 && @order.status == true %>
        <td><strong>Payment:</strong></td>
        <td>
          <select name="order[payment]">
            <option value="1">Cash</option>
            <option value="2">Credit</option>
          </select>
        </td>
      <% else %>
        <td><strong>Payment:</strong></td>
        <td>
          <% if @order.payment == 1 %>
            <%= "Cash" %>
          <% else %>
            <%= "Credit" %>
          <% end %>
        </td>
      <% end %>
      <td><strong>Date/Time</strong></td>
      <td><%= @order.created_at %></td>
    </tr>
    <tr>
      <td><strong>Remark:</strong></td>
      <td colspan="3"><%= @order.remark %></td>
    </tr>
  </tbody>
</table>


<table class="table table-bordered">
  <thead>
    <tr>
      <td>Product</td>
      <td>Qty</td>
      <td>Price</td>
      <td>Config</td>
    </tr>
  </thead>
  <tbody>
    <% detail_count = @order.details.count %>
    <% @details.each do |d| %>
      <tr>
        <% if session[:staff] != 1 && @order.status == true %>
            <td><input type="text" min required id="name<%=d.id%>" name="name<%=d.id%>" value="<%= d.name %>"></td>
            <td><input type="text" required id="qty<%=d.id%>" name="qty<%=d.id%>" value="<%= d.qty %>"></td>
            <td><input type="text" required id="price<%=d.id%>" name="price<%=d.id%>" value="<%= d.price %>"></td>
            <td>
              <%= link_to "Destroy", detail_path(d,order: @order), method: :delete, data: { confirm: 'Are you sure?' } %>
              <%= link_to "Update", "", class: d.id %>
              <% # link_to "Update", update_detail_path(detail: d, order: @order) %>
            </td>
        <% else %>
            <td><%= d.name %></td>
            <td><%= d.qty %></td>
            <td><%= d.price %></td>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @order.department == Staff.find(session[:staff]).department && @order.status == true %>
    <div class="actions">
      <%= f.hidden_field :status, value: false %>
      <%= f.submit "Fulfill order", class: 'btn btn-primary',data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
<br>
<%= link_to 'Print', "#", class: 'btn btn-warning', onclick: 'window.print()' %>
<hr>
<%= link_to 'Back', orders_path %>
<script type="text/javascript">
  $(document).ready(function () {
    let datas = JSON.parse('<%= raw(@details.to_json) %>')
    for (let data of datas) {
      $('.'+data.id).click(function () {

        if(!$(`#name${data.id}`).val()){
          alert("Name is empty")
        }

        if(!$(`#qty${data.id}`).val()){
          alert("Quantity is empty")
        }

        if(!$(`#price${data.id}`).val()){
          alert("Price is empty")
        }

        var d = $.param({
          name: $(`#name${data.id}`).val(),
          price: $(`#price${data.id}`).val(),
          qty: $(`#qty${data.id}`).val(),
          order_id: <%= @order.id%>,
          detail_id: data.id
        })
        $('.'+data.id).attr("href",'http://103.253.146.26/update_detail?' + d)
      })
    }
  })
</script>

